.head1
{
    font-size:40px;
    text-align:center;
    margin-bottom:3%;
}
.info
{
    font-size:20px;
    text-align:center;
    margin-bottom:2%;
}
.info2
{
    font-size:25px;
    text-align:center;
    margin-bottom:2%;
}
#number
{
    display: block;
    margin: 3% auto;
    height:50px;
    width:200px;
    text-align: center;
    font-size:25px;
}
.button
{
    display:block;
    margin:5% auto;
    font-size:20px;
    height:35px;
    width:200px;
}

.guessed
{
    font-size:25px;
    text-align:center;
    margin-bottom:2%;
}
.attempts
{
    font-size:25px;
    text-align:center;
    margin-bottom:2%;
}
.val
{
    font-size:25px;
    text-align:center;
    margin-bottom:2%;
}